<div class="container">
    <div class="row">
        <div class="col">
            <div class="row">
                <span>{{deleteproduct.deleteProperty.message}}</span>
            </div>
            <div class="row">
                <div class="btn-group">
                    <button class="btn btn-danger" (click)="deleteproduct.deleteProperty.delete()">Delete</button>
                    &nbsp;&nbsp;
                    <button class="btn btn-secondary" (click)="deleteproduct.deleteProperty.cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>