<mat-sidenav-container>
    <mat-sidenav mode="side" opened class="example-sidenav">
        <mat-nav-list>
            <mat-list-item [routerLink]="['/product-list']" [routerLinkActive]="['active']"> Product List
            </mat-list-item>
            <mat-list-item [routerLink]="['/trash']" [routerLinkActive]="['active']"> Trash </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>